{% extends "base.html" %}
{% block content %}

    <h2 class="text-center mb-3">
        Получить значение слова в контексте
    </h2>

    <div class="container">
    <div class="row justify-content-around">
        <div class="col-md">

        <form action="/prompt" method="POST" id="main" content="application/json">
            <div class="mb-3">

              <label for="exampleFormControlInput1" class="form-label">Word</label>
              <input type="text" name="word" class="form-control" id="exampleFormControlInput1" placeholder="example">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Context</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Some context for word example"
                        name="text" form="main"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Submit</button>
        </form>


            <div class="btn-group-horizontal" role="group" aria-label="Horizontal radio toggle button group">
                {% for model in models %}
                    <input type="radio" class="btn-check" name="vbtn-radio" id="{{ model }}" autocomplete="off" checked
                        onclick="selectModel('{{ model }}')">
                    <label class="btn btn-outline-danger" for="{{ model }}">{{ model }}</label>
                {% endfor %}
            </div>
            <div class="card" style="width: 85%; margin-top: 20px; margin-left: auto; margin-right: auto">
                <div class="card-body">
                    {% if word %}
                        <h5 class="card-title"> Слово {{ word }} с уверенностью {{ 100 * score }}%</h5>
                    {% else %}
                        <h5 class="card-title"> Слово </h5>
                    {% endif %}
                    <p class="card-text">
                    {% if result %}
                        {{ result }}
                    {% else %}
                        Результат будет отображен здесь...
                    {% endif %}
                    </p>
                    <a href="/" class="card-link">Правильно</a>
                </div>
            </div>
        </div>


        <div class="col-md" style="margin-top: auto; margin-bottom: auto; scroll-behavior: auto">
            <div class="table-responsive">
              <table class="table align-middle">
                <thead>
                  <tr>
                      <th>Sentence</th>
                      <th>Word</th>
                      <th>Date</th>
                      <th>Meaning</th>
                  </tr>
                </thead>
                <tbody>
                    {%  if data %}
                        {%  for row in data %}
                            <tr>
                                <td class="align-top">{{ row.text }}</td>
                                <td>{{ row.word }}</td>
                                <td class="date">{{ row.date }}</td>
                                {% if row.response %}
                                    {% for res in row.response %}
                                    <td class="align-top">{{ res.text }}</td>
                                    {% endfor %}
                                {% else %}
                                    <td class="align-top">Ответ модели не найден, возможно это ошибка на сервере</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {%  else %}
                            <tr>
                                <td class="align-top" style="color: silver">Пример вашего предложения и многозначного слова</td>
                                <td style="color: silver">Слово</td>
                                <td id="date-container" style="color: silver" ></td>
                                <td class="align-top" style="color: silver">Пример ответа модели </td>
                            </tr>
                    {% endif %}

                </tbody>
              </table>
            </div>
        </div>
    </div>


    </div>

<script src="../static/selectModel.js" > </script>

{% endblock %}