{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h2>
        Register
    </h2>
    <form method="POST" action="/register">
        <input type="text" name="email" class="form-control" placeholder="E-Mail">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <p>Already Registered? <a href="/login"> Click Here</a></p>
        <button type="submit">Register</button>
    </form>
</body>

{% endblock %}